.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; 
    height: auto; 
    margin-right: 10px;
}

.logo-text {
    color: darkblue;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

li a:hover {
  background-color: darkblue;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 25px;
  text-decoration: Arial;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container,
.info-container {
    flex: 1;
    padding: 10px;
}

.info-container h2 {
    margin-top: 0;
}

.info-container p {
    font-size: 18px;
    line-height: 1.6;
}
.book-button {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.book-button:hover {
  background-color: #0056b3;
}
iframe{
	
	filter: invert(0%);
}
h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
   text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;
  }

  .box {
    width: 23%;
    background-color: #CE93D8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .box h2 {
    margin-bottom: 5px;
  }

  .box p {
    margin-bottom: 15px;
  }

  .book-tag {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
  }
footer {
    background-color: #006064;
    color: #fff;
    padding: 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
}

.footer-links li a:hover {
    text-decoration: underline;
}

body {
	background-color:#EAFAF1 ;
}
